<h1>All Questions</h1>
<% @questions.each do |qtn| %>
  <div class="media">
  	<div class="media-body">
  		<h4 class="media-heading">
  			<%= link_to qtn.title %>
  		</h4>
  	</div>
  </div>			
<% end %>  
